[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
dj-rest-auth = "*"
django-cors-headers = "*"
django-sslserver = "*"
djangorestframework = "*"
ecdsa = "*"
jose = "*"
numpy = "*"
opencv-python = "*"
pyasn1 = "*"
pydantic = "*"
python-jose = "*"
pytz = "*"
qrcode = "*"
rsa = "*"
six = "*"
sqlparse = "*"
typing-extensions = "*"
Django = "*"
Pillow = "*"
[dev-packages]

[requires]
python_version = "3.9"
